body {
    background: linear-gradient(white, lightblue);
    min-height: 80vh;
}

#main,
main,
footer {
    padding: 25px;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    background: skyblue;
    color: white;
    padding:10px;
    width: auto;
    display: inline-block;
}

nav ul {
    text-align: center;
    font-size: 20px;
}

nav a:visited{
    color:blue;
}

nav a:hover {
    color: white;
}

#main {
    font-size: 45px;
}

p {
    font-family: 'Space Mono', 'serif';
    font-size: 1.5em;
}

h1{
    font-size: 2em; 
    font-weight: bold;
}

img {
    width: 200px;
    /* border: 3px solid #17BBFD; */
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
}

.index {
    display: grid;
}

.big_image img:hover{
    box-shadow: 1px 2px darkslategrey;
    filter: grayscale(1);
  }


/* Home */
.big_image {
    display: grid;
    grid-template: 1fr;
    justify-items: center;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: large;
    text-align: center;
    padding: 15px 30px 70px 30px;
}

#main1 {
    display: grid;
    text-align: left;
    overflow: hidden;
    border-right: .15em solid skyblue;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation: 
        typing 4.5s steps(50, end),
        blink-caret 2s step-end infinite;
    
}
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: skyblue; }
    }


/* About Me */
.grid3 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    flex-direction: column;
}

.aboutme {
    text-align: center;
    background-image: url("../images/mobile-background.jpg");
    justify-content: center;
}

.home-life {
    margin: 10px;
    justify-content: right;
}

.passions {
    margin: 10px;
    justify-content: left;
}

.skills {
    margin: 10px;
    justify-content: right;
}

.future {
    margin: 10px;
    justify-content: left;
}

/* My Experiences */

.grid2 {
    display: flex;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
}

.grid2 img:hover {
    background-color:lightgrey;
}

.grid2 img {
    align-items: stretch;
}

.resume {
    grid-row: 4;
}

@media screen and (min-width: 720px){
    p {
        font-family: 'Verdana', 'serif';
    }

    .grid2 {
        display: flex;
        flex-direction: column;
        margin: 20px;
        text-align: left;
    }

    .grid2 div img{
        background-image: url("../images/greyrectangle.png");
    }

    nav {
        text-align: right;
    }

    nav ul {
        display: inline-block;
        width: auto;
        justify-items: right;
    }
}